<div class="card mx-auto mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">PoC Server-sent events</h5>
    <p class="card-text">Clicking on the Connect button will establish a SSE connection with the back-end and display the messages we receive.</p>
    <div class="btn-group">
      <button (click)="connect()" [disabled]="isConnectingOrConnected()">{{connectButtonLabel}}</button>&nbsp;
      <button (click)="disconnect()" [disabled]="isDisconnected()">{{disconnectButtonLabel}}</button>
    </div>
    <p *ngIf="isConnected()"><b>Last message:</b> {{lastMessage}}</p>
  </div>
</div>

